* {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
  }

  html, body {
    height: 100%;
    width: 100%;
    background-image:url(/img/bg-01-01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   -moz-background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover;
   -ms-background-size: cover;
   
}
  

.header{
    display: flex;
    justify-content: space-between;
    height: 110px;
    background-color: #082b3d;
    margin-top: 0;
    padding-top: 0;
}
.header a{
    font-size: 1.25em;
    font-family: 'Quicksand', sans-serif;
    color: #00C0FF;
    padding: 0 10px; 
    height: inherit; 
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.header ol{
    list-style: none; 
    display: flex;
    height: inherit;
    
}

.header ol li{
    height: inherit;
}
    
#logo {
    width:300px;
    height: auto;
    display: flex;    
    margin: 8px 0px 0px 5px ;    
    padding: 0;
    border: 0;
    
}

    
.menu li{
    display: inline;
}

.header ol li{
    height: inherit;
}


.link:hover {
    color: white;
    background-color: #9DD30D;

}

ol{
    margin: 0;
    padding: 0;
}
 
.menu{
    height: inherit;
}

.title{
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #FF8901;
}

